html{
    margin: 0;
}
body{
    margin: 0;
}
ul{
    list-style: none;
}
section{
    width: 100%;
}
a:hover{
    background-color: brown;
    color: #fff;
}
/*
*
* Top level navigation
*
*/
nav ul  li{
    display: inline-block;
}


/*
*
*Banner and cover
*/
#identity{
    width: 100%;
    position: relative;
    height: 350px;
    
}
.k_banner{width: 100%;height:100%;}

.image-banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.detail{
    position: absolute;
    bottom: 80px;
    left: 380px;
}
.k_profile-pic {
    position: absolute;
    bottom: -50px;
    
	height: 200px;
    width: 200px;
}
/*
*
*Kitchen logo
*
*/



/*
*Kitchen__menu
*k-inner__nav
*
*/
#kitchen__logo {
	background-color: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    border: 3px solid #fff;
    overflow: hidden;
}
#kitchen__menu {
    position: relative;
	height: 60px;
    padding: 1%;
}
.k-inner__nav ul li{
	height: 50px;
}
.k-inner__nav ul li a{
    padding: 5% 0;
    text-align: center;
    display: block;
    width: 100px;
    height: 100%;
    vertical-align: middle;
}
/*
*
*side__nav
*
*/
.side__nav {
	width: 100%;
}
.side__nav ul li {
	display: block;
    height: 50px;
    width: 100%;
}
.side__nav ul li a{
    padding: 5% 0;
    vertical-align: middle;
    text-align: center;
    display: block;
    height: 100%;
}
#side__menu{
    background-color: darkgrey;
    float: left;
    height: 100%;
    width: 20%;
}
#side__menu li{
    display: block;
}
.menu-nav{
    background-color: #eee;
    height: auto;
}
.button {
	width: 100%;
}  
/*
*
*Kitchen content
*    
*/    
}
#kitchen__content{
    height: 100%;
    background-color: bisque;
    float: right;
    width: 80%;
}
.card{
    width: 450px;
    height: 500px;
}
.menu-pic{
    height:200px ;
    background-color: beige;
}
.menu{
    overflow: hidden;
    height: 300px;
    background-color: #eee;
}


/*BANNER ARE TeST*/
/*#identity {
	overflow: hidden;
}
.main{
    display:block;
    position:relative;
    width: 980px;
    margin: 0 auto;
}

.identity_holder {
	display: block;
    position: relative;
    width: 100%;
    margin: 0;
}
.cover{
    display:block;
    position:relative;
    height:437px;
    overflow:hidden;
    z-index:1;
}
.k_banner {
	display: block;
    position: relative;
    height: 350px;
}
.k_banner img{max-width: 100%: z-index:1;}
.cover img{
   max-width:100%;
    z-index:1;
}
.profile{
   display:block;
    position:relative;
    border:#d0efff solid 3px;
    border-radius:5px;
    width:200px;
    height:200px;
    margin: -100px 0 10px 20px;
    z-index:999;
    
}
.k_profile-pic {
	display: block;
    position: relative;
    border: 3px solid #fff;
    width: 200px;
    height: 200px;
    /*margin: -100px 0 10px 20px;*/
    
    z-index: 9999;
}
/*.profile img{
   max-width:100%;
    z-index:999;
}*/

.t-profile {
	height: 200px;
    width: 200px;
}